<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Listeners>
    <Listener>
      <Name>ListenerName</Name>
      <LogFolder>c:\VendorSimulator\Log\TCP\Port1234</LogFolder>
      <TcpEndPoint>
        <IPAddress>127.0.0.1</IPAddress>
        <KeepAliveInterval>0</KeepAliveInterval>
        <KeepAliveTime>0</KeepAliveTime>
        <Name>127.0.0.1:1234</Name>
        <PortNumber>1234</PortNumber>
        <ReceiveTimeOutInSeconds>5</ReceiveTimeOutInSeconds>
        <SendTimeOutInSeconds>5</SendTimeOutInSeconds>
      </TcpEndPoint>
    </Listener>
  </Listeners>
</configuration>